.container {
	width: 800px;
	/*position: absolute;
	left: 100px;
	right: 100px;*/
	margin: auto;
	box-shadow: 320px 0px 0px 0px #101010, -320px 0px 0px 0px #101010;
	/*Have a look at the shadow*/
	padding-right: 50px;
	padding-left: 50px;
}

p li {
	color: #707070;
}