.container {
	width: 800px;
	/*position: absolute;
	left: 100px;
	right: 100px;*/
	margin: auto;
<<<<<<< HEAD
	box-shadow: 320px 0px 0px #101010, -320px 0px 0px #101010;
=======
	box-shadow: 10px 0px 10px 0px #101010, -10px 0px 10px 0px #101010;
>>>>>>> 658ecdaa06a8d8b511f633001e31e0960e958b5c
	/*Have a look at the shadow*/
	padding-right: 50px;
	padding-left: 50px;
}

li {
	color: #707070;
	padding-bottom: 5px;
	padding-top: 5px;
}
p {
	color: #707070;
}
header {
	text-align: center;
}
h1 {
	color: #DB0038;
}
h2 {
	color: #3998A3;
}
h3 {
	color: #474747;
}
.hero {
	background-color: #f4f4f4 ;
	text-align: center;
	padding-bottom: 10px;
}
.star {
	color: #F4B400;
	font-size: 25px;
}
footer {
	text-align:  center;
}
